input[type="date"],
input[type="text"],
select,
button[type="submit"] {
  padding: 10px;
  border: 4px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-family:  monospace;;
  color: #000;
  background-color: #caa971;
  transition: border-color 0.3s ease;

  align-items: center;
  justify-content: center;

  margin-right: 10px;
}
#res
{
  background-color: #f4e664;
  color: #000;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-family:  monospace;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#amount
{
  padding: 10px; 
  border: 4px solid #ccc;
   border-radius: 6px;
  font-size: 16px;
  font-family:  monospace;;
  color: #000;
  background-color: #caa971;
  transition: border-color 0.3s ease;

  align-items: center;
  justify-content: center;

  margin-right: 10px; 
}
#curdate
{
  background-color: #f4e664;
  color: #000;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  font-family:  monospace;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  justify-content: center;
  height: 45px;
  
}
input[type="date"]:focus,
input[type="text"]:focus,
select:focus,
button[type="submit"]:focus {
  outline: none;
  border-color: rgb(86, 191, 236);
  box-shadow: 0 0 5px #bad743;
}

input[type="date"]:hover,
input[type="text"]:hover,
select:hover,
button[type="submit"]:hover {
  border-color: #fefde5;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.form-container > * {
  margin-bottom: 10px; 
}

button[type="submit"] {
  background-color: #f4e664;
  color: #000;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  /* font-family: 'Helvetica Neue', Arial, sans-serif; */
   font-family: monospace;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #b8ad4a;
}

label {
  font-size: 20px;
  padding: 5px;
  font-family: monospace;
  color: #000;
  
} 
/* header{
  display: flex;
  justify-content: center;
} */
header h1 {
  font-size: 40px;

  font-family: Courier;
  font-weight: 500;
  color: #000;
  border-right: 4px solid #8414144b; /*This will be the blinking cursor*/
  animation: cursor 0.5s infinite step-end, typing 6s infinite steps(16);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

@keyframes cursor {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

@keyframes typing {
  0% {
    width: 0ch;
  } /*Text is hidden*/
  50% {
    width: 100%;
  } /*The entire header will be typed out 1 character at a time*/
  80% {
    width: 100%;
  } /*Text stays visible*/
  90% {
    width: 0ch;
  } /*Text is deleted*/
  100% {
    width: 0ch;
  } /*Text stays hidden*/
}